<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true"
>

<f:be.pageRenderer
        includeJavaScriptModules="{
        20: '@WEBFONTS/webfonts/',
    }"
/>

<f:layout name="Module" />

<f:section name="Content">

    <f:render partial="BetaHint" />

    <f:render partial="TabNav" arguments="{activeTab: activeTab}" />

    <h1>Installed Fonts</h1>
    <br>
    <google-fonts-list-app
            showOnlyInstalled="true"
            fonts="{fontListStringified}"
            installedFonts="{installedFontListStringified}"
            backendCssUrl="{backendCssUrl}"
            manageActionUrl="{f:uri.action(action: 'manageGoogleFont', controller: 'Webfonts', arguments: '{id: \'REPLACE_F_ID\'}')}"
    ></google-fonts-list-app>


</f:section>

</html>
