<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true"
>

<f:be.pageRenderer
    includeJavaScriptModules="{
        20: '@WEBFONTS/webfonts/',
    }"
/>



<f:layout name="Module" />

<f:section name="Content">

    <f:render partial="BetaHint" />

    <f:render partial="TabNav" arguments="{activeTab: activeTab}" />

    <br>
    <br>

    <google-fonts-manage-app
            font="{fontStringified}"
            selectedSubsets="{selectedSubsetsStringified}"
            selectedVariants="{selectedVariantsStringified}"
            installActionUrl="{f:uri.action(action: 'installGoogleFont', controller: 'Webfonts', arguments: '{id:font.id}')}"
            uninstallActionUrl="{f:uri.action(action: 'uninstallGoogleFont', controller: 'Webfonts', arguments: '{id:font.id}')}"
            backendCssUrl="{backendCssUrl}"
            isInstalled="{isInstalled}"
    >
    </google-fonts-manage-app>
</f:section>

</html>
