<div class="toolbox">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="{f:translate(key: 'input.filter_for.placeholder')}" v-model="filter" @keydown.esc="unsetFilter()">
        <span class="input-group-btn">
                            <a class="btn btn-default" title="{f:translate(key: 'button.cancel.label')}" @click="unsetFilter()"
                               href="#"
                               data-original-title="{f:translate(key: 'button.cancel.label')}">
                            <core:icon identifier="tx-webfonts-times-solid" />
                            </a>
                      </span>
    </div>
</div>


<table class="table">
    <thead>
    <tr>
        <th scope="col"><f:translate key="table.font_family.label" /></th>
        <th scope="col"><f:translate key="table.provider.label" /></th>
        <th scope="col"><f:translate key="table.version.label" /></th>
        <th scope="col"><f:translate key="table.action.label" /></th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="font in listGoogleWebfonts"  v-if="passesFilter(font.family)" :key="font.id">
        <th scope="row"> {{ font.family }}

            <template v-if="font.installation"><br />
                <f:translate key="fontrow.installed.text" /><span v-for="iv in font.installation.variants" class="label label-success" style="margin-right: 10px;">{{ iv }}</span>
            </template>

        </th>
        <td>{{ font.provider }}</td>
        <td>{{ font.version }}</td>
        <td>


            <a class="btn btn-default" title="{f:translate(key: 'button.manage.label')}" @click="options(font)"
               href="#"
               data-original-title="{f:translate(key: 'button.manage.label')}">

                <core:icon identifier="actions-system-extension-configure" />
            </a>





        </td>
    </tr>
    </tbody>
</table>
