<script type="text/x-template" id="tx-webfonts-google-font-options-component">

    <div>

        <h2><f:translate key="headline.charsets.label" /></h2>


        <div class="pretty p-icon p-round p-jelly " v-for="subset in font.subsets">
            <input type="checkbox" class="subset-cb" :checked="charsetChecked(subset)"
                   :disabled="canDisableSubset(subset)" @change="toggleCharset(subset)"/>
            <div class="state p-success">
                <!--                    <i class="icon mdi mdi-check"></i>-->
                <label>{{ subset }}</label>
            </div>
        </div>

        <div class="row2col contentbox">
            <div class="col ">

                <div class="fontbox_container left">
                    <h2><f:translate key="headline.variants.label" /></h2>


                    <div class="fontbox" v-for="variant in font.variants" :class="{'selected':  variantSelected(variant)}"
                         @click="toggleVariant(variant)">
                        <p :style="{'font-family': getFamily(variant), 'font-weight': getWeight(variant), 'font-style': getStyle(variant)}"
                           style="font-size: 18px">
                            The quick brown fox jumps over the lazy dog.
                        </p>
                        <p>
                            <span class="label label-primary">{{ variant }}</span>
                        </p>

                    </div>


                </div>

            </div>
            <div class="col ">
                <h2><f:translate key="headline.actions.label" /></h2>
                <div>

                    <div class="row2col">
                        <div class="col">

                            <a href="#" class="btn btn-primary "
                               :disabled="!canInstall() || installationInProgress" @click="install(selectedCharsets, selectedVariants)">

                                <!--                        spinner-->
                                <span v-show="installationInProgress"

                                      class="t3js-icon icon icon-size-small icon-state-default icon-provider-fontawesome-spinner icon-spin"
                                      data-identifier="provider-fontawesome-spinner">
                            <span class="icon-markup">
                                <span class="icon-unify"><i class="fa fa-spinner"></i></span>
                            </span>

                        </span>

                                <f:translate key="button.install.label" />
                                 </a>

                        </div>
                        <div class="col" style="text-align: right">

                            <a href="#" class="btn btn-danger "
                               :disabled="!isInstalled() || installationInProgress" @click="install()">

                                <!--                        spinner-->
                                <span v-show="installationInProgress"

                                      class="t3js-icon icon icon-size-small icon-state-default icon-provider-fontawesome-spinner icon-spin"
                                      data-identifier="provider-fontawesome-spinner">
                            <span class="icon-markup">
                                <span class="icon-unify"><i class="fa fa-spinner"></i></span>
                            </span>

                        </span>

                                <f:translate key="button.delete.label" />
                                 </a>


                        </div>
                    </div>




                    <div class="callout callout-success" v-show="lastInstallationState === 1">
                        <div class="media">
                            <div class="media-left"><span class="fa-stack fa-lg callout-icon"><i
                                    class="fa fa-circle fa-stack-2x"></i><i class="fa fa-check fa-stack-1x"></i></span>
                            </div>
                            <div class="media-body"><h4 class="callout-title"><f:translate key="infobox.installed.title" /></h4>
                                <div class="callout-body"><f:translate key="infobox.installed.description" /></div>
                            </div>
                        </div>
                    </div>

                    <div class="callout callout-success" v-show="lastInstallationState === 2">
                        <div class="media">
                            <div class="media-left"><span class="fa-stack fa-lg callout-icon"><i
                                    class="fa fa-circle fa-stack-2x"></i><i class="fa fa-check fa-stack-1x"></i></span>
                            </div>
                            <div class="media-body"><h4 class="callout-title"><f:translate key="infobox.uninstalled.title" /></h4>
                                <div class="callout-body"><f:translate key="infobox.uninstalled.description" /></div>
                            </div>
                        </div>
                    </div>

                    <div class="callout callout-danger" v-show="lastInstallationState === -1">
                        <div class="media">
                            <div class="media-left"><span class="fa-stack fa-lg callout-icon"><i
                                    class="fa fa-circle fa-stack-2x"></i><i class="fa fa-times fa-stack-1x"></i></span>
                            </div>
                            <div class="media-body"><h4 class="callout-title"><f:translate key="infobox.error.title" /></h4>
                                <div class="callout-body"><f:translate key="infobox.error.description" />
                                    <br/>
                                    <br/>
                                    {{ installationErrorMsg }}</div>
                            </div>
                        </div>
                    </div>


                    <div v-show="isInstalled()" style="margin-top: 60px;">


                        <h2><f:translate key="headline.usage.label" /></h2>

                        <h3>TypoScript</h3>
                        <code>
                            page.includeCSS.tx_webfonts__{{ font.id }} =
                            fileadmin/tx_webfonts/fonts/google_webfonts/{{ font.id }}/import.css
                        </code>

                        <h3>CSS</h3>
                        <code>
                            font-family: '{{ font.family }}', {{ font.fallback }};
                        </code>
                    </div>

                </div>


            </div>
        </div>

    </div>


</script>
